/* This is the stylesheet for the FAQ Accordion component*/

body {
  display:flex;
  justify-content:center;
  align-items: center;
  background-image: url("./assets/images/background-pattern-desktop.svg");
  background-size:100%, 30vh;
  background-position:top;
  background-repeat:no-repeat;
  background-color:hsl(275, 100%, 97%);
  height:10vh;
  margin:0;
  
}

.card {
  align-items: center;
  background:hsl(0, 0%, 100%);
  height:auto; 
  width:45%;
  margin-top:45%;
  border-radius:3%;

}

@font-face {
    font-family: "WorkSans-Bold";
    src: url("./assets/fonts/static/WorkSans-Bold.ttf");
  }

  @font-face {
    font-family: "WorkSans-Regular";
    src: url("./assets/fonts/static/WorkSans-Regular.ttf");
  }

.card_header {
  display:inline-flex;
  align-items: center;
  justify-content: left;
  font-family:"WorkSans-Bold";
  font-size:3.5vw;
  color:hsl(292, 42%, 14%);
  margin-top:2vh;
   
}

.star {
display:inline-flex;
  margin: 2vh 2vw 2vh 2vw;
}

.accordianC {    
  display:block;

}

.accordianQ {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:1vh 1vw 1vh 1vw;
  font-size:80%;
  font-family:"WorkSans-Bold";
     
}

.panelbutton {
  display:flex;
  justify-content:flex-end;
  border:none;
  background:none; 
    
}

.panel1{
    display:none;
    font-size:70%;
    font-family: "WorkSans-Regular";
    margin-left: 2vw;
    margin-right: 2vw;  
  
}

.panel2{
    display:none;
    font-size: 70%;
    font-family: "WorkSans-Regular";
    margin-left: 2vw;
    margin-right: 2vw;  
  
}

.panel3{
    display:none;
    font-size: 70%;
    font-family: "WorkSans-Regular";
    margin-left: 2vw;
    margin-right: 2vw;  
  
}

.panel4{
  display:none;
  font-size: 70%;
  font-family: "WorkSans-Regular";
  margin-left: 2vw;
  margin-right: 2vw;    

}
  